name: publish npm package

on:
    release:
        types: [created]

jobs:
    publish-npm:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: oven-sh/setup-bun@v2
            - run: bun install --frozen-lockfile
            - run: bun publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{secrets.npm_token}}
